prev22/gen
prev22/**/*.class
prev22/*~
prev22/prg/*.html
prev22/prg/*.xml
prev22/src/prev/phase/**/*.interp
prev22/src/prev/phase/**/*.tokens
prev22/src/prev/phase/**/.antlr
prev22/src/prev/phase/**/Prev*.java
*.zip
